# Git metadata
.git
.gitignore

# Environment & secrets (CRITICAL for security)
.env
*.env
*.pem

# Python virtual environments & caches
venv/
.venv/
__pycache__/
*.pyc
*.pyo
ENV/

# Docker/IDE files
Dockerfile
.dockerignore
.vscode/
.idea/

# Local logs & data artifacts
*.log
artifacts/data_ingestion/
artifacts/data_validation/
artifacts/data_transformation/
artifacts/model_evaluation/
logs/